html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    display: grid;
    height: 100%;
    grid-template-columns: 12.5rem auto;
    grid-template-rows: [sideMenu] 4.5rem [main] auto;
    grid-template-areas: "header header" 
                         "sidebar mainbody";
}

header {
    grid-area: header;
}

a {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.header {
    position: fixed;
    margin: 0;
    width: 100%;
    background-color: #1b1c27;
    display: inline-flex;
}

.mainIcon {
    width: 200px;
}

#amazonLogo {
    height: 4.5rem;
}

.serchBox {
    margin: 10px;
    margin-left: 3px;
    display: block;
    background-color: rgb(111, 113, 121);
    border: none;
    border-radius: 2px;
    height: 3rem;
    width: 15rem;
    background-image: url(images/search-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.serchBox:hover,
.serchBox:active,
.serchBox:focus {
    outline: none;
    background-color: white;
    transition: all .5s;
}

.sidebar {
    background-color: #2f3046;
    height: 100%;
    padding-top: 15px;
    grid-area: sidebar;
}

.sidebar div {
    padding: 7px 10px;
}

.sidebar h1 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    color: rgb(132, 136, 155);
    font-weight: 500;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.list {
    margin: 0;
    padding-left: 7px;
    inline-size: 4px;
    line-height: 1.5rem;
}

.list li{
    text-decoration: none;
    list-style: none;
}

a:active {
    color: #146eb4;
}

#followedPlaylists {
    font-size: 14px;
}

#myPlaylists {
    font-size: 14px;
}

.store,
.userProfile {
    width: 180px;
    height: 25px;
    text-align: left; 
}

.store {
    border-top: 1px solid rgba(132, 136, 155, 0.5);
    border-bottom: 1px solid rgba(132, 136, 155, 0.5);
}

.userProfile {
    border-bottom: 1px solid rgba(132, 136, 155, 0.5);
}

#mySubscription {
    font-weight: 300;
    text-transform: none;
    font-size: 14px;
    margin: 0;
    line-height: 1.5rem;
    color: rgb(132, 136, 155);
}

.store a,
.userProfile a,
#mySubscription+a {
    margin-left: 7px;
}

.button {
    width: 180px;
    background-color: #146eb4;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

/* main content */

.mainbody {
    grid-area: mainbody;
    width: calc(100vw - 260px);
    margin: 30px;
}

.mainbody div,
.mainbody section {
    display: inline-block;
}

.carusel {
    height: 9.5rem;
    width: 100%;
    border: none;
    justify-content: space-between;
    overflow: hidden;
} 

.carusel .leftScroll,
.carusel .rightScroll {
    margin: 0;
    padding: 0;
    width: 30px;
    min-width: 4rem;
    height: 100%;
    background-color: rgba(27, 28, 39, 0.7);
    outline: none;
    outline-offset: 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.leftScroll:hover,
.rightScroll:hover {
    transition: all 1.50s;
    background-color: rgba(27, 28, 39, 0.3);
    border: 2px solid grey;
}

.barkerSlider {
    height: 96%;
    min-width: calc(80% - 30px);
    margin: 0 15px;
    border: 2px solid grey;
    cursor: pointer;

}

/* .rightScroll {
    flex-direction: end;
} */

@media (min-width: 1125px) {
    .carusel {
        height: 12rem;
        width: 100%;
    }

    .carusel .leftScroll,
    .carusel .rightScroll {
        width: 9.4%;
    }

    .barkerSlider {
        height: 98%;
    }
}

/* Button Greed */

#buttonGrid {
    display: inline-flex;
    margin: 20px 0;
    height: 48px;
    width: 100%;
    justify-content: space-between;
}

.buttonContainer {
    width: 49%;
    border-radius: 3px;
    border: none;
    background: silver;
    color: #1b1c27;
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    padding: 16px 35px;
    font-weight: 400;
    cursor: pointer;
}

.shoveler {
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    display: grid;
}

.title {
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.background img {
    height: 178px;
    width: 178px;
    border: 1px solid gray;
    
}

#seeAll {
    text-decoration: underline;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #146eb4;

}

