html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    display: grid;
    height: 100%;
    grid-template-columns: 12.5rem auto;
    grid-template-rows: [sideMenu] 4.5rem [main] auto;
    grid-template-areas: "header header" 
                         "sidebar mainbody";
}

header {
    grid-area: header;
}

a {
    white-space: nowrap;
    text-decoration: none;
}

li {
    list-style: none;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.header {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    background-color: #070d16;
    display: inline-flex;
}

.mainIcon {
    width: 200px;
}

#amazonLogo {
    height: 4.5rem;
}

.serchBox {
    margin: 10px;
    margin-left: 3px;
    display: block;
    background-color: rgb(111, 113, 121);
    border: none;
    border-radius: 2px;
    height: 3rem;
    width: 15rem;
    background-image: url(images/search-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.serchBox:hover,
.serchBox:active,
.serchBox:focus {
    outline: none;
    background-color: white;
    transition: all .5s;
}

.sidebar {
    position: fixed;
    margin-top: 76px;
    background-color: #2f3046;
    height: 100%;
    padding-top: 15px;
    grid-area: sidebar;
}

.sidebar div {
    padding: 7px 10px;
}

.sidebar h1 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    color: rgb(132, 136, 155);
    font-weight: 500;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar a:active,
.sidebar a:active {
    color: #2595eb;
}

.list {
    margin: 0;
    padding-left: 7px;
    inline-size: 4px;
    line-height: 1.5rem;
} 

.list li{
    text-decoration: none;
    list-style: none;
}

.menuList {
    font-size: 12px;
    font-weight: 400;
    list-style: none;
}

.menuList:active {
    color: #146eb4;
}

.store {
    width: 180px;
    height: 25px;
    text-align: left; 
    border-top: 1px solid rgba(132, 136, 155, 0.5);
    border-bottom: none;
}

.store a {
    margin-left: 7px;
}

/* .button {
    width: 180px;
    background-color: #146eb4;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
} */

/* main content */

.mainbody {
    grid-area: mainbody;
    width: calc(100vw - 300px);
    margin: 30px;
}

.mainbody div,
.mainbody section {
    display: inline-block;
}

.carusel {
    height: 9.5rem;
    width: 100%;
    border: none;
    justify-content: space-between;
    overflow: hidden;
} 

.carusel .leftScroll,
.carusel .rightScroll {
    margin: 0;
    padding: 0;
    width: 30px;
    min-width: 3.8rem;
    height: calc(100% - 2px);
    background-color: rgba(27, 28, 39, 0.7);
    outline: none;
    outline-offset: 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.leftScroll:hover,
.rightScroll:hover {
    transition: all 1.50s;
    background-color: rgba(27, 28, 39, 0.3);
    border: 2px solid grey;
}

.barkerSlider {
    height: 96%;
    min-width: calc(80% - 30px);
    margin: 0 15px;
    border: 2px solid grey;
    cursor: pointer;
    flex-shrink: 2;

}

/* Button Greed */

#buttonGrid {
    display: inline-flex;
    margin: 20px 0;
    height: 48px;
    width: 100%;
    justify-content: space-between;
}

.buttonContainer {
    width: 49%;
    border-radius: 3px;
    border: none;
    background: silver;
    color: #1b1c27;
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    padding: 16px 35px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.card {
    width: 100%;
    height: 300px;
    border: none;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.cardTitle {
    width: 100%;
    height: 25px;
    display: flex;
    /* justify-content: space-between; */
    margin: 0;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
}

.cardHead {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin: 10px 0;
}

#seeAll {
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2595eb;
    position: absolute;
    top: 0;
    right: 0;
}

#seeAll:hover,
#seeAll:active {
    text-decoration: underline;
}

.cardBody {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.cardBody a + img {
    height: 120px;
    width: 120px;
}

/*Popular Songs*/

@media (min-width: 1125px) {
    .carusel {
        height: 12rem;
        width: 100%;
    }

    .carusel .leftScroll,
    .carusel .rightScroll {
        width: 9.4%;
    }

    .barkerSlider {
        height: 98%;
    }

    .cardBody a + img {
        height: 178px;
        width: 178px;
        border: 1px solid gray;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.popularSongs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto-fill);
    grid-template-rows: repeat(3, 64px);
    /* grid-gap: 10px; */
}

.horisontalTitle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    width: 30%;
    border: none;
    background-color: #f2f2f2;
    margin: 0 16px 12px 0;
    vertical-align: middle;
}

.playButton,
.renderImage {
    height: 48px;
    width: 48px;
    margin: 8px 15px 8px 15px;
}

.renderImage {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2); 
}

.playButton {
    display: none;
    cursor: pointer;
}

.horisontalTitle ul {
    position: absolute;
    top: 0;
    left: 80px;
    width: 80px;
    padding: 0;
    margin-top: 14px;
}

.songName,
.artist {
    position: relative;
    color: black;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 400;
    vertical-align: middle;
}

.artist {
    font-size: 0.7rem;
    font-weight: 400;
    color: darkgray;
}

.songName:hover,
.artist:hover{
    text-decoration: underline;
}

.songName:active,
.artist:active {
    color: #2595eb;
}

.rightSection {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    margin: 15px 10px 0 0;
    height: 48px;
}

.addSong,
.iconMenu {
    height: 32px;
    width: 32px;
    padding: 0;
}

.addSong:hover,
.iconMenu:hover {
    cursor: pointer;     
} 

.iconMenu {
    background: transparent;
    border: none;
}
