* {
    box-sizing: content-box;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100%;
    color: #7c8289;
    letter-spacing: .5px;
    overflow-y: visible;
}

a {
    white-space: nowrap;
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    display: inline-flex;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    min-width: 1024px;
    background-color: #070d16;
}

.header-left {
    width: 200px;
}

.mainIcon {
    width: 200px;
}

#amazonLogo {
    height: 4.5rem;
}

.serchBox {
    display: block;
    height: 3rem;
    width: 150px;
    min-width: 150px;
    margin: 10px;
    margin-left: 3px;
    border: none;
    border-radius: 2px;
    background-color: rgba(242,243,243,0.4);
    background-image: url(images/search-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 20px;
    z-index: 0;
}

@media (min-width: 1024px) {
    .serchBox {
        width: 15%;
        min-width: 150px;
    }
}

.serchBox:hover,
.serchBox:active,
.serchBox:focus {
    outline: none;
    background-color: white;
    transition: all .5s;
    cursor: text;
}

/* mainbody */

.main-content-body{
    display: flex;
    flex-direction: row;
    margin-top: 76px;
    min-width: 824px;
}

/* sidebar */

.sidebar {
    visibility: visible;
    display: block;
    position: absolute;
    top: 72px;
    bottom: 0;
    right: auto;
    margin: 0;
    flex-direction: row;
    width: 200px;
    height: calc(100% - 72px);
    background: #222b3b linear-gradient(to bottom, #252d42, #1d1f26);
    padding-top: 15px;
    z-index: 1;
}

.sidebar div {
    padding: 7px 10px;
}

.sidebar h1 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    color: rgb(132, 136, 155);
    font-weight: 500;
}

.menuList {
    text-decoration: none;
    color: white;
}

.menuList:active,
.menuList:active {
    color: #2595eb;
}

.list {
    margin: 0;
    padding-left: 7px;
    inline-size: 4px;
    line-height: 1.5rem;
} 

.list li{
    text-decoration: none;
    list-style: none;
}

.menuList {
    font-size: 12px;
    font-weight: 400;
    list-style: none;
}

.menuList:active {
    color: #146eb4;
}

.store {
    width: 180px;
    height: 25px;
    text-align: left; 
    border-top: 1px solid rgba(132, 136, 155, 0.5);
    border-bottom: none;
}

.store a {
    margin-left: 7px;
}

/* main content */

.mainbody {
    visibility: visible;
    display: block;
    position: absolute;
    flex-grow: 1;
    overflow: auto;
    margin: 0;
    left: 200px;
    right: 0;
    top: 72px;
    bottom: 0;
    height: 100%;
    width: 764px;
    padding: 30px;
    z-index: 1;
    /* width: calc(100% - 260px); */
}

.mainbody div,
.mainbody section {
    display: inline-block;
}

.carusel {
    height: 9.5rem;
    width: 100%;
    border: none;
    justify-content: space-between;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.4s;
} 

.scrolling-wraper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.carusel .leftScroll,
.carusel .rightScroll {
    margin: 0;
    padding: 0;
    width: 30px;
    min-width: 3.8rem;
    height: calc(100% - 2px);
    background-color: rgba(27, 28, 39, 0.7);
    outline: none;
    outline-offset: 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.leftScroll:hover,
.rightScroll:hover {
    transition: all 1.50s;
    background-color: rgba(27, 28, 39, 0.3);
    border: 2px solid grey;
}

.barkerSlider {
    height: 96%;
    min-width: calc(80% - 30px);
    margin: 0 15px;
    border: 2px solid grey;
    cursor: pointer;
    flex-shrink: 2;
}

/* Button Greed */

#buttonGrid {
    display: inline-flex;
    margin: 20px 0;
    height: 48px;
    width: 100%;
    justify-content: space-between;
}

.buttonContainer {
    width: 49%;
    border-radius: 3px;
    border: none;
    background: silver;
    color: #1b1c27;
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    padding: 16px 35px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.card {
    width: 100%;
    height: 300px;
    border: none;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.cardTitle {
    width: 100%;
    height: 25px;
    display: flex;
    margin: 0;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
}

.cardHead {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin: 10px 0;
}

#seeAll {
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2595eb;
    position: absolute;
    top: 0;
    right: 0;
}

#seeAll:hover,
#seeAll:active {
    text-decoration: underline;
}

.cardBody {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.cardBody a + img {
    height: 120px;
    width: 120px;
}

/*Popular Songs*/

@media (min-width: 1125px) {
    .carusel {
        height: 12rem;
        width: 100%;
    }

    .carusel .leftScroll,
    .carusel .rightScroll {
        width: 9.4%;
    }

    .barkerSlider {
        height: 98%;
    }

    .cardBody a + img {
        height: 178px;
        width: 178px;
        border: 1px solid gray;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.popularSongs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto-fill);
    grid-template-rows: repeat(3, 64px);
    /* grid-gap: 10px; */
}

.horisontalTitle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    width: 30%;
    border: none;
    background-color: #f2f2f2;
    margin: 0 16px 12px 0;
    vertical-align: middle;
}

.playButton,
.renderImage {
    height: 48px;
    width: 48px;
    margin: 8px 15px 8px 15px;
}

.renderImage {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2); 
}

.playButton {
    display: none;
    cursor: pointer;
}

.horisontalTitle ul {
    position: absolute;
    top: 0;
    left: 80px;
    width: 80px;
    padding: 0;
    margin-top: 14px;
}

.songName,
.artist {
    position: relative;
    color: black;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 400;
    vertical-align: middle;
}

.artist {
    font-size: 0.7rem;
    font-weight: 400;
    color: darkgray;
}

.songName:hover,
.artist:hover{
    text-decoration: underline;
}

.songName:active,
.artist:active {
    color: #2595eb;
}

.rightSection {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    margin: 15px 10px 0 0;
    height: 48px;
}

.addSong,
.iconMenu {
    height: 32px;
    width: 32px;
    padding: 0;
}

.addSong:hover,
.iconMenu:hover {
    cursor: pointer;     
} 

.iconMenu {
    background: transparent;
    border: none;
}
