html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: column;
	margin: 0;
	height: 100%;
}

.header {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    min-width: 1024px;
    background-color: #070d16;
}

.main-container {
	height: 100%;
}

/* header */

.header {
    position: absolute;
    top: 0;
    height: 114px;
    width: 100%;
}

.main-header {
    display: block;
    top: 0;
    height: 72px;
    width: 100%;
    background-color: #070d16;
}

.header-left {
    display: inline-block;
    width: 35%;
}

#amazonLogo {
    height: 4.5rem;
}

.serchBox {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 200px;
    height: 3rem;
    margin: 10px;
    margin-left: 3px;
    border: none;
    border-radius: 2px;
    background-color: rgba(242,243,243,0.4);
    background-image: url(images/search-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 20px;
    vertical-align: middle;
}

.serchBox:hover,
.serchBox:active,
.serchBox:focus {
    outline: none;
    background-color: white;
    transition: all .5s;
    cursor: text;
}

@media (min-width: 1024px) {
    .serchBox {
        width: 15%;
        min-width: 150px;
    }
}

.header-right {
    display: inline-block;
    width: 65%;
}

/* Underheader massage */

.underheader {
    background-color: #157FC3;
    height: 42px;
    width: 100%;
    font-weight: 300;
}

.underheader p {
    margin: 0;
    padding: 11px 0;
    width: 100vw;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
}

/* main content */

.main-content-body {
    display: flex;
    flex-flow: nowrap;
    top: 114px;
    height: 100%;
    width: 100%;
}

/* sidebar */

.sidebar {
	display: inline-block;
    vertical-align: bottom;
	height: calc(100% - 128px);
    width: 200px;
    margin-top: 114px;
    padding-top: 14px;
    left: 0;
    right: auto;
    flex-shrink: 0;
    overflow-x: hidden;
    background: #222b3b linear-gradient(to bottom, #252d42, #1d1f26);
    font-size: 12px;
}

.sidebar div {
    padding: 0 8px;
}

.sidebar h1 {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 3px;
    padding-left: 8px;
    text-transform: uppercase;
    color: rgb(132, 136, 155);
    font-weight: 500;
}

.list {
    margin: 0;
    padding-left: 7px;
    line-height: 1.5rem;
    list-style: none;
}

.list li{
    padding: 0 24px 0 8px;
    text-decoration: none;
}

.menuList {
    text-decoration: none;
    color: white;
}

.menuList:active {
    color: #146eb4;
}

.store {
    margin-left: 0;
    margin-top: 10px;
    line-height: 25px;
    text-align: left; 
    border-top: 1px solid rgba(132, 136, 155, 0.5);
    border-bottom: none;
}

.store a {
    margin-left: 16px;
}

/* main content */

.mainbody {
	display: inline-block;
	vertical-align: top;
    height: 100%;
    left: 200px;
    width: 824px;
    margin-top: 114px;
    overflow-x: scroll;
    overflow-y: auto;
} 

@media (min-width: 1024px) {
    .mainbody {
        width: 100% - 200px;
    } 
}

.main-content {
    display: flex;
    flex-flow: column;
    width: calc(100% - 64px);
    overflow: hidden;
    margin: 16px 32px;
}

/* baner scroll */

.carusel {
    display: flex;
    flex-flow: row;
    height: 9.5rem;
    width: 100%;
    border: none;
    justify-content: space-between;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.4s;
} 

.scrolling-wraper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.carusel .leftScroll,
.carusel .rightScroll {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 30px;
    min-width: 3.8rem;
    height: calc(100% - 2px);
    background-color: rgba(27, 28, 39, 0.7);
    outline: none;
    outline-offset: 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.leftScroll {
    left: 0;
}

.rightScroll {
    right: 0;
}

.leftScroll:hover,
.rightScroll:hover {
    transition: all 1.50s;
    background-color: rgba(27, 28, 39, 0.3);
    border: 2px solid grey;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
}

.barkerSlider {
    height: 96%;
    min-width: calc(80% - 30px);
    margin: 0 15px;
    border: 2px solid grey;
    cursor: pointer;
    flex-shrink: 2;
}

/* 2 button container */

#buttonGrid {
    display: inline-flex;
    margin: 20px 0;
    height: 48px;
    width: 100%;
    justify-content: space-between;
}

.buttonContainer {
    width: 49%;
    border-radius: 3px;
    border: none;
    background: silver;
    color: #1b1c27;
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    padding: 16px 35px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

/* popular stations section */

.card {
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    
}