html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: column;
	margin: 0;
	height: 100%;
}

.header {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    min-width: 1024px;
    background-color: #070d16;
}

.main-container {
	height: 100%;
}

/* header */

.header {
    position: absolute;
    top: 0;
    height: 114px;
    width: 100%;
}

.main-header {
    display: block;
    top: 0;
    height: 72px;
    width: 100%;
    background-color: #070d16;
}

.header-left {
    display: inline-block;
    width: 35%;
}

#amazonLogo {
    height: 4.5rem;
}

.serchBox {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 200px;
    height: 3rem;
    margin: 10px;
    margin-left: 3px;
    border: none;
    border-radius: 2px;
    background-color: rgba(242,243,243,0.4);
    background-image: url(images/search-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 20px;
    vertical-align: middle;
}

.serchBox:hover,
.serchBox:active,
.serchBox:focus {
    outline: none;
    background-color: white;
    transition: all .5s;
    cursor: text;
}

@media (min-width: 1024px) {
    .serchBox {
        width: 15%;
        min-width: 150px;
    }
}

.header-right {
    display: inline-block;
    width: 65%;
}

/* Underheader massage */

.underheader {
    background-color: #157FC3;
    height: 42px;
    width: 100%;
    font-weight: 300;
}

.underheader p {
    margin: 0;
    padding: 11px 0;
    width: 100vw;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
}

/* main content */

.main-content-body {
    display: flex;
    flex-flow: nowrap;
    top: 114px;
    height: 100%;
    width: 100%;
}

.sidebar {
	display: inline-block;
    vertical-align: bottom;
	height: 100%;
    width: 200px;
    left: 0;
    right: auto;
    overflow-x: hidden;
    background: #222b3b linear-gradient(to bottom, #252d42, #1d1f26);
}

.mainbody {
	display: inline-block;
	vertical-align: top;
    height: 100%;
    left: 200px;
    width: 824px;
    overflow-x: scroll;
    overflow-y: auto;
} 
